//- la identacion de codigo indica el nivel (nodo hijo)
//- div
//-     h2.text-center=autenticado
//-     if autenticado
//-         p Usuario autenticado 
//-     else 
//-         p inicia sesion  
extends ../layout/index
block contenido
    h2.text-center.2xl login