extends ../layout/index
block contenido
    div.py-5.mt-5
        h2.text-center.text-2xl.font-extrabold.text-zinc-800= pagina

        a(href="/propiedades/crear" class="rounded py-2 px-2 text-sm text-slate-900 font-bold my-5 inline-block text-center w-full bg-green-300 hover:bg-green-400 sm:w-auto") Publicar propiedad