extends ../layout/public

block styles 
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
    link(rel="stylesheet" href="/css/mapa.css") 

block contenido
    div(class="py-5")
        h1(class="text-center text-4xl font-extrabold")
        div(id="mapa-inicio" class="mt-10 h-[600px] rounded")

block scripts
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
    script(src="/js/inicio.js")


