extends ../layout/public

block styles 
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")


block contenido
    div(class="py-5")
        h1(class="text-center text-4xl font-extrabold")

        div(class="flex md:flex-row items-center gap-4")
            h2(class="text-sm text-zinc-700 font-bold") Filtrar Propiedades 
            div(class="w-full md:w-auto flex  items-center gap-2")
                label(for="categorias" class="text-sm font-bold") Categorias
                select(id="categorias" class="bg-zinc-100 w-full px-3 py-2 border border-zinc-400 rounded shadow") 
                    option( disabled selected value="") --Seleccione--
                    each categoria in categorias 
                        option( value=categoria.id)= categoria.nombre
            div(class="w-full md:w-auto flex  items-center gap-2")
                label(for="precios" class="text-sm font-bold") Precios
                select(id="precios" class="bg-zinc-10 w-full px-3 py-2 border border-zinc-400 rounded shadow") 
                    option( disabled selected value="") --Seleccione--
                    each precio in precios 
                        option( value=precio.id)= precio.nombre

        div(id="mapa-inicio" class="mt-10 h-[600px] rounded")

        section(class="space-y-4 mt-5")

            h2(class="text-center font-bold text-2xl") Casas en venta
            div(class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-5")
                each propiedad in casas 
                    include ../templates/cardInicio

            h2(class="text-center font-bold text-2xl") Departamentos en venta
            div(class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-5")
                each propiedad in departamentos 
                    include ../templates/cardInicio
block scripts   
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
    script(src="/js/inicio.js")


