header(class=" bg-zinc-900")
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-zinc-50.font-extrabold.text-center Bienes
            span.font-normal Raices

        nav(class="my-5 text-sm md:flex md:items-center font-bold text-zinc-50 md:gap-3 hidden " )    
            a(href="" class="hover:text-green-300") Mis Propiedades 
            a(href="" class="hover:text-green-300") Mi Perfil 
            a(href="" class="bg-zinc-800 p-2 rounded hover:text-red-500") Cerrar Sesion